<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2p.mapper.PauditMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2p.model.Paudit" >
    <constructor >
      <idArg column="aid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="aname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="jid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="atype" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    aid, aname, jid, atype, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_audit
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_audit
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2p.model.Paudit" >
    insert into p_audit (aid, aname, jid, 
      atype, remark)
    values (#{aid,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR}, #{jid,jdbcType=INTEGER}, 
      #{atype,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2p.model.Paudit" >
    insert into p_audit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="aname != null" >
        aname,
      </if>
      <if test="jid != null" >
        jid,
      </if>
      <if test="atype != null" >
        atype,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="jid != null" >
        #{jid,jdbcType=INTEGER},
      </if>
      <if test="atype != null" >
        #{atype,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2p.model.Paudit" >
    update p_audit
    <set >
      <if test="aname != null" >
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="jid != null" >
        jid = #{jid,jdbcType=INTEGER},
      </if>
      <if test="atype != null" >
        atype = #{atype,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2p.model.Paudit" >
    update p_audit
    set aname = #{aname,jdbcType=VARCHAR},
      jid = #{jid,jdbcType=INTEGER},
      atype = #{atype,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>